<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->

<div class="container box-container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">

            <!--home-lay layout-header start-->
            <section class="home-lay layout-header">
                <a href="/"
                   target="_blank">
                    <div class="content"
                         style="background-image: url('/default/img/h1-slide-2.jpg');">
                        <div class="title">
                            <h2>文章样式3: 全球最大一颗钻石卖掉，售价 5300 万美元</h2>
                            <div class="date hidden-xs">
                                <span class="u-categories">商业</span>
                                <span class="u-time">2017-09-29</span>
                                <span class="u-comment"><i class="iconfont icon-good"></i> 18</span>
                                <span class="u-like"><i class="iconfont icon-favorites"></i> 17</span>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <!--home-lay layout-header end-->

            <!--home-lay layout-type start-->
            <section class="home-lay layout-type">

                <div class="row">
                    <div class="col-grid col-xs-12 col-sm-2 col-md-2">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-3 col-md-3">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-2 col-md-2">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-2 col-md-2">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-3 col-md-3">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-3 col-md-3">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-2 col-md-2">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-3 col-md-3">
                        <a class="layout-type-item"
                           style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg');"
                           href="">
                            HTML5
                        </a>
                    </div>
                    <div class="col-grid col-xs-12 col-sm-4 col-md-4">
                        <a class="layout-type-more" href="">
                            更多热门专题 <i class="iconfont icon-more"></i>
                        </a>
                    </div>
                </div>

            </section>
            <!--home-lay layout-type end-->

            <!--home-lay layout-content start-->
            <section class="home-lay layout-content">

               <!-- <div class="filter-menu text-center">
                    <button class="active">文章</button>
                    <button data-cid="945">说说</button>
                    <button data-cid="945">视频</button>
                    <button data-cid="945">公告</button>
                </div>-->

                <ul class="article-list">
                    <% data.article_list.forEach(function (item, key) { %>
                    <li>
                        <article class="content-box">
                            <div class="info-box">
                                <div class="info-row title-row">
                                    <a href="/article/<%= item.dataValues.aid %>" class="title"><%= item.dataValues.title %></a>
                                </div>
                                <div class="info-row meta-row">
                                    <ul class="meta-list">
                                        <li class="item category">
                                            <span class="category-title frontend"><%= item.dataValues.category %></span>
                                        </li>
                                        <li class="item username clickable">
                                            <div class="user-popover-box">
                                                <a href=""><%= item.dataValues.author %></a>
                                            </div>
                                        </li>
                                        <li class="item">10月前</li>
                                        <li class="item"><%= item.dataValues.read_count %> 次阅读</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                            </div>
                        </article>
                    </li>
                    <% }) %>
                </ul>


                <div class="nav-links">
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a class="page-numbers" href="http://cosy.codenote.io/page/2">2</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="http://cosy.codenote.io/page/15">15</a>
                    <a class="next page-numbers" href="http://cosy.codenote.io/page/2">
                        <i class="fa fa fa-angle-right"></i>
                    </a>
                </div>
            </section>
            <!--home-lay layout-content end-->


        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <!--aside.ejs start-->
            <% include parts/aside.ejs %>
            <!--aside.ejs end-->
        </div>
    </div>
</div>


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->


<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->

</body>

<% include parts/footer.ejs %>