<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<div class="container box-container">

    <div class="side-menu">
        <!--home-lay layout-type start-->

        <section class="side-menu-view ">

            <div class="board">
                <a class="board-content" href="">
                    最新文章
                </a>
                <a class="board-content" href="">
                    最热文章
                </a>
                <a class="board-content" href="">
                    最新说说
                </a>
            </div>


            <div class="layout-type">
                <% data.article_tag.forEach(function (item, key) { %>
                <a class="layout-type-item" href="">
                    <i class="iconfont icon-favorite"></i>
                    <%= item.article_tag_name %>
                </a>
                <% }) %>

                <a class="layout-type-item"  href="/subscribe" target="_blank">
                    查看更多标签
                </a>
            </div>
        </section>
        <!--home-lay layout-type end-->
    </div>

    <div class="row" style="margin-left: 190px">
        <div class="col-xs-12 col-sm-8 col-md-8">

            <!--home-lay layout-header start-->
            <section class="home-lay layout-header box-swiper">
                <div class="box-swiper-view">
                    <div class="box-swiper-item box-swiper-item-current">
                        <a href="/" target="_blank" class="content">
                            <img src="/default/img/66666.jpg" alt="">
                        </a>
                    </div>
                    <div class="box-swiper-item">
                        <a href="/" target="_blank" class="content">
                            <img src="/default/img/h1-slide-2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="box-swiper-pagination">
                    <span class="box-swiper-pagination-bullet box-swiper-pagination-bullet-current"></span>
                    <span class="box-swiper-pagination-bullet"></span>
                </div>
            </section>
            <!--home-lay layout-header end-->


            <!--home-lay layout-content start-->
            <section class="home-lay layout-content">

                <!-- <div class="filter-menu text-center">
                     <button class="active">文章</button>
                     <button data-cid="945">说说</button>
                     <button data-cid="945">视频</button>
                     <button data-cid="945">公告</button>
                 </div>-->

                <ul class="article-list">
                    <% data.article_list.forEach(function (item, key) { %>
                    <li>
                        <article class="content-box">
                            <div class="info-box">
                                <div class="info-row title-row">
                                    <a href="/article/<%= item.aid %>"
                                       class="title"><%= item.title %></a>
                                </div>
                                <div class="content-text">
                                    <%= item.content %>
                                </div>
                                <div class="info-row meta-row">
                                    <ul class="meta-list">
                                        <li class="item category">
                                            <span class="category-title frontend"><%= item.category %></span>
                                        </li>
                                        <li class="item username clickable">
                                            <div class="user-popover-box">
                                                <a href=""><%= item.author %></a>
                                            </div>
                                        </li>
                                        <li class="item">10月前</li>
                                        <li class="item"><%= item.read_count %> 次阅读</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                            </div>
                        </article>
                    </li>
                    <% }) %>
                </ul>


                <div class="nav-links">
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a class="page-numbers" href="http://cosy.codenote.io/page/2">2</a>
                    <span class="page-numbers dots">…</span>
                    <a class="page-numbers" href="http://cosy.codenote.io/page/15">15</a>
                    <a class="next page-numbers" href="http://cosy.codenote.io/page/2">2
                    </a>
                </div>
            </section>
            <!--home-lay layout-content end-->


        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <!--aside.ejs start-->
            <% include parts/aside.ejs %>
            <!--aside.ejs end-->
        </div>
    </div>
</div>


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->


<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->

</body>

<% include parts/footer.ejs %>