<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="article-list-lay layout-content">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="article-list">
                    <div class="main-top">
                        <div class="title">
                            <a class="name" href="/c/e048f1a72e3d">搜索：<%=data.search%></a>
                        </div>
                        <div class="info">
                           一共有 <%=data.count%> 条结果
                        </div>
                    </div>
                    <ul class="trigger-menu">
                       <!-- <li class=""><a href="/"><i class="iconfont ic-latestcomments"></i> 最新评论</a></li>-->
                        <li class="active"><a href="/"><i class="iconfont ic-articles"></i> 最新收录</a></li>
                        <!--<li class=""><a href="/"><i class="iconfont ic-hot"></i> 热门</a></li>-->
                    </ul>
                    <div class="list-container">
                        <ul>
                            <% data.article_list.forEach(function (item, key) { %>
                            <li>
                                <article class="content-box article-list">
                                    <div class="info-box">
                                        <div class="info-row title-row">
                                            <a href="/article/<%= item.aid %>"
                                               class="title" target="_blank"><%= item.title %></a>
                                        </div>
                                        <div class="content-text">
                                            <%- item.excerpt %>
                                        </div>
                                        <div class="info-row meta-row">
                                            <ul class="meta-list">
                                                <li class="item username clickable">
                                                    <a href=""><%= item.author %></a>
                                                </li>
                                                <li class="item"><%= item.create_date %></li>
                                                <li class="item"><%= item.read_count %> 次阅读</li>
                                                <% if(item.tag_ids){ %>
                                                <li class="item">
                                                    <% item.tag_ids.split(',').forEach(function (item, key) { %>
                                                    <%
                                                    data.tag_all.forEach(function (tag_all_item, tag_all_key) {
                                                    if (tag_all_item.article_tag_id == item) {
                                                    %>
                                                    <a class="tag-class frontend" href="">
                                                        <%= tag_all_item.article_tag_name %>
                                                    </a>
                                                    <%
                                                    }}) %>
                                                    <% }) %>
                                                </li>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lazy thumb thumb loaded"
                                         style="background-image: url('/default/img/2017100416064445-e1512811758795.jpeg'); background-size: cover;">
                                    </div>
                                </article>
                            </li>
                            <% }) %>
                        </ul>

                        <!--page.ejs start-->
                        <% include pages/search_page.ejs %>
                        <!--page.ejs end-->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="aside" style="margin-top: 30px">
                    <div class="title">专题介绍</div>
                    <div class="description">
                        <div class="js-intro">这里筑梦师,是一名正在努力学习的iOS开发工程师,目前致力于全栈方向的学习,希望可以和大家一起交流技术,共同进步.<br>
                            <br>本人全栈自学笔记地址:<br><a
                                    href="https://github.com/DreamerWinston/Full-Stack-Developer-Note" rel="nofollow"
                                    target="_blank">https://github.com/DreamerWinston/Full-Stack-Developer-Note</a><br>
                            <br>本人文章均为个人学习经历经验总结.如有引用会注明.<br>
                            <br>交流技术,提建议,请积极私信我哦~<br>
                            <br>本人公众号:FullStackTips<br>这里↓↓↓↓↓↓是我个人二维码,欢迎加我~
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--article-list-lay layout-content end-->


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->

<!--<script>

  var navbar = document.getElementById('layout-navbar')

  function getScrollTop () {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    }
    else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }

  window.onscroll = function () {
    var st = getScrollTop()
    if (st > 50) {
      navbar.classList.add("navbar-fixed-top");
    } else {
      navbar.classList.remove("navbar-fixed-top");
    }
  }

</script>-->
</body>

<% include parts/footer.ejs %>