<!--header.ejs start-->
<% include parts/header.ejs %>
<!--header.ejs end-->

<body class="black-theme">

<!--header_view.ejs start-->
<% include parts/header_view.ejs %>
<!--header_view.ejs end-->


<!--article-list-lay layout-content start-->
<section class="subscribe-lay layout-content">
    <div class="container  box-container" style="padding-top: 60px">

        <header class="list-header">
            <nav role="navigation" class="list-nav">
                <ul class="nav-list">
                    <li class="nav-item <% if(Number(data.is_subscribe) === 1){ %>active <% } %>"><a
                                href="/subscribe/tag?is_subscribe=1">全部</a></li> <!--class active-->
                    <%if(user_info.islogin){%>
                    <li class="nav-item <% if(Number(data.is_subscribe) === 2){ %>active <% } %>"><a
                                href="/subscribe/tag?is_subscribe=2">已关注</a></li>
                    <%}%>
                    <li class="nav-item search">
                        <form role="search" class="search-tag-from" method="get" action="/subscribe/tag">
                            <input maxlength="32" placeholder="搜索标签" required="true" name="tag_name"
                                   class="search-tag-input">
                            <button class="search-tag-btn"><i class="iconfont icon-search"></i></button>
                        </form>
                    </li>
                </ul>
            </nav>
            <% if(data.tag_name){ %>
            <p>搜索文章标签: <%= data.tag_name %> 结果有 <%= data.count %> 条</p>
            <% } %>
        </header>

        <ul class="row tag-list">
            <% data.article_tag_list.forEach(function (item, key) { %>
            <li class="item  col-xs-12 col-sm-3 col-md-3 ">
                <div class="tag">
                    <div class="info-box">
                        <a href="/tag/<%= item.article_tag_id %>" rel="">
                            <div class="lazy thumb thumb loaded"
                                 style="background-image: url(&quot;https://lc-mhke0kuv.cn-n1.lcfile.com/bac28828a49181c34110.png&quot;); background-size: contain;"></div>
                            <div class="title"><%= item.article_tag_name %></div>
                        </a>
                        <div class="meta-box">
                            <div class="meta article"><%=item.article_count%> 篇文章</div>
                            <div class="meta subscribe"><%=item.subscribe_count%> 人关注</div>
                        </div>
                    </div>
                    <% if(user_info.islogin){ %>
                    <div class="action-box">

                        <% if(data.subscribe_article_tag.indexOf(item.article_tag_id) === -1){ %>
                        <button data-tag-id="<%= item.article_tag_id %>" class="subscribe-btn not-subscribe">关注</button>
                        <% }else { %>
                        <button data-tag-id="<%= item.article_tag_id %>" class="subscribe-btn already-subscribe">已关注
                        </button>
                        <% } %>

                    </div>
                    <% } %>
                </div>
            </li>
            <% }) %>
        </ul>

        <!--PAGE.ejs start-->
        <% include pages/subscribe_page.ejs %>
        <!--PAGE.ejs end-->
    </div>
</section>
<!--article-list-lay layout-content end-->


<!--footer_view.ejs start-->
<% include parts/footer_view.ejs %>
<!--footer_view.ejs end-->

<script>
  window.onload = function () {
    var subscribe_btn = document.getElementsByClassName('subscribe-btn')

    for (var i = 0; i < subscribe_btn.length; i++) {
      (function (i) {

        if (subscribe_btn.length > 0) {
          subscribe_btn[i].onclick = function () {
            var tag_id = subscribe_btn[i].getAttribute('data-tag-id')
            _server.post_subscribe_tag({article_tag_id: tag_id}).then(function (res) {
              console.log(res)
              if (res.state === 'success') {
                window.location.reload()
              } else {
                alert(res.meaasge)
              }
            }).catch(function (err) {
              console.log('错误')
            })
          }
        }
      })(i)
    }
  }
</script>

</body>

<% include parts/footer.ejs %>