<div class="main-top clearfix">

    <a class="avatar" href="/user/<%= data.current_user.uid %>">
        <img src="<%= data.current_user.avatar %>" alt="">
    </a>

    <div class="title">
        <a class="name" href="/user/<%= data.current_user.uid %>"><%= data.current_user.nickname %></a>
    </div>

    <% if((user_info.uid !== data.current_user.uid) && user_info.islogin){ %>
    <button data-uid="<%= data.current_user.uid %>"
            class="user-follow-button <% if (data.current_user.user_attention_count > 0) { %> has <% }else{ %> no <% } %>">
        <i class="iconfont"></i>
        <% if (data.current_user.user_attention_count > 0) { %>
        <span>已关注</span>
        <% }else{ %>
        <span>关注</span>
        <% } %>
    </button>
    <% } %>
    <div class="info">
        <ul>
            <li>
                <div class="meta-block">
                    <a href="/user/<%= data.current_user.uid %>/attention">
                        <p><%= data.current_user.user_attention_other_count %></p>
                        <strong>
                            <% if(user_info.uid === data.current_user.uid){ %>
                            我关注的人
                            <% }else { %>
                            他关注的人
                            <% } %>
                        </strong>
                    </a>
                </div>
            </li>
            <li>
                <div class="meta-block">
                    <a href="/users/78d3e1ab9924/followers">
                        <p><%= data.current_user.other_user_attention_count %></p>
                        <strong>粉丝</strong>
                    </a>
                </div>
            </li>
            <li>
                <div class="meta-block">
                    <a href="/user/78d3e1ab9924">
                        <p><%= data.current_user.user_article_count %></p>
                        <strong>文章</strong>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>

<ul class="trigger-menu">
    <li class="<% if (data.router_name == '') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/article/all">
            文章
        </a>
    </li>
    <li class="<% if (data.router_name == 'topic') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/topic">
            专题
        </a>
    </li>
    <li class="<% if (data.router_name == 'attention') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/attention">
            关注
        </a>
    </li>
    <li class="<% if (data.router_name == 'like') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/like">
            喜欢
        </a>
    </li>
</ul>

<script>
  window.onload = function () {
    var subscribe_btn = document.getElementsByClassName('user-follow-button')[0]

    subscribe_btn.onclick = function () {
      var uid = subscribe_btn.getAttribute('data-uid')
      _server.post_user_attention({attention_uid: uid}).then(function (res) {
        console.log(res)
        if (res.state === 'success') {
          window.location.reload()
        } else {
          alert(res.meaasge)
        }
      }).catch(function (err) {
        console.log('错误')
      })
    }
  }
</script>