<div class="main-top clearfix">

    <a class="avatar" href="/user/<%= data.current_user.uid %>">
        <img src="<%= data.current_user.avatar %>" alt="">
    </a>

    <div class="title">
        <a class="name" href="/user/<%= data.current_user.uid %>"><%= data.current_user.nickname %></a>
    </div>

    <% if(user_info.uid !== data.current_user.uid){ %>
    <button class="off  user-follow-button">
        <i class="iconfont"></i>
        <span>关注</span>
    </button>
    <% } %>
    <div class="info">
        <ul>
            <li>
                <div class="meta-block">
                    <a href="/users/78d3e1ab9924/following">
                        <p>10</p><% if(user_info.uid === data.current_user.uid){ %>我<% }else { %>他<% } %>关注人<i class="iconfont ic-arrow"></i>
                    </a>
                </div>
            </li>
            <li>
                <div class="meta-block">
                    <a href="/users/78d3e1ab9924/followers">
                        <p>1</p>粉丝<i class="iconfont ic-arrow"></i>
                    </a>
                </div>
            </li>
            <li>
                <div class="meta-block">
                    <a href="/user/78d3e1ab9924">
                        <p>1</p>文章<i class="iconfont ic-arrow"></i>
                    </a>
                </div>
            </li>
            <li>
                <div class="meta-block">
                    <a href="/user/78d3e1ab9924">
                        <p>1</p>收获喜欢<i class="iconfont ic-arrow"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>


</div>

<ul class="trigger-menu">
    <li class="<% if (data.router_name == '') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/article/all">
            <i class="iconfont ic-articles"></i>
            <% if(user_info.uid === data.current_user.uid){ %>我<% }else { %>他<% } %>的文章</a>
    </li>
    <li class="<% if (data.router_name == 'topic') { %>active<% } %>">
        <a href="/user/<%= data.current_user.uid %>/topic">
            <i class="iconfont ic-feed"></i>
            <% if(user_info.uid === data.current_user.uid){ %>我<% }else { %>他<% } %>的专题</a>
    </li>
    <li class="">
        <a href="/user/<%= data.current_user.uid %>?order_by=commented_at">
            <i class="iconfont ic-latestcomments"></i> 动态</a>
    </li>
    <li class="">
        <a href="/user/<%= data.current_user.uid %>?order_by=top">
            <i class="iconfont ic-hot"></i> 最新评论</a>
    </li>
</ul>